
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
*{
    margin:  0;
    padding:0;
}
.logo{
    width: 43%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0 ;
    cursor: pointer;
}
.nav-list{
    width:60%;
    background-color: black;
    display:flex;
    align-items: center;

}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color:white

}
.nav-list li a:hover{
    text-decoration: none;
    color:grey;

}
.RightNav{
    background-color: blueviolet;
    width:30%;
    text-align: right;
    padding:0 23px;
}
#Search{
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 7px;

}
